# add git-ignore syntax here of things you don't want copied into docker image

.DS_Store
.git
*Dockerfile*
*docker-compose*
node_modules
.vscode
dist
*.log
logs
.next

built-storybook

# testing
*/**/actual
*/**/diff